#body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/joel-overbeck-fGPGd9PFd3w-unsplash.jpg'); /* Replace with your romantic background image */
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  color: white;
}

.love-icon {
  width: 100px; /* Adjust the size of the love icon */
  height: 100px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#yes-button {
  background-color: #ff4d4d; /* Adjust the color */
  color: white;
}

#no-button {
  background-color: #4d4dff; /* Adjust the color */
  color: white;
  display: none;
}



#loveText {
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}